<h2>{{prueba}}</h2>

 {{#each comentarios}}
 <p>{{comentario}}  </p>
 <p>La valoracion de este comentario es:{{valoracion}} </p>
 <a href="borrar/{{idcomentario}}">Borrar Comentario</a></li>
{{/each}}
